version: '3.6'
services:
  mongo:
    image: mongo
    container_name: mongo
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      retries: 30
    ports:
      - "27017:27017"
    networks:
      - appointment_book_net

  zookeeper:
    image: 'bitnami/zookeeper:3.5.7'
    container_name: zookeeper
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - appointment_book_net

  kafka:
    image: 'bitnami/kafka:2.5.0'
    container_name: kafka
    ports:
      - '9092:9092'
    environment:
      - KAFKA_ADVERTISED_HOST_PORT=kafka:49092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_LISTENERS=COMPOSE://0.0.0.0:49092,LOCALHOST://0.0.0.0:9092
      - KAFKA_ADVERTISED_LISTENERS=COMPOSE://kafka:49092,LOCALHOST://localhost:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=COMPOSE:PLAINTEXT,LOCALHOST:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=COMPOSE
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
    depends_on:
      - zookeeper
    networks:
      - appointment_book_net

  kafka_connect:
    image: "debezium/connect:2.4.1.Final"
    container_name: kafka_connect
    ports:
      - '8083:8083'
    environment:
      - GROUP_ID=test
      - BOOTSTRAP_SERVERS=kafka:49092
      - CONFIG_STORAGE_TOPIC=test-configs
      - OFFSET_STORAGE_TOPIC=test-offsets
      - STATUS_STORAGE_TOPIC=test-status
      - CONNECT_KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - CONNECT_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - CONNECT_CONFIG_PROVIDERS=env
      - CONNECT_CONFIG_PROVIDERS_ENV_CLASS=org.apache.kafka.common.config.provider.EnvVarConfigProvider
      - CONNECT_LOG4J_LOGGER_IO_DEBEZIUM=TRACE
      - CONNECT_LOG4J_LOGGER_IO_DEBEZIUM_TRANSFORMS_PARTITIONS=TRACE
    depends_on:
      - kafka
    networks:
      - appointment_book_net

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - '8081:8080'
    depends_on:
      - kafka
      - kafka_connect
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:49092
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: first
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://kafka_connect:8083
    networks:
      - appointment_book_net

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - appointment_book_net

networks:
  appointment_book_net:
    driver: bridge
    name: appointment_book_net