version: '3.6'
services:
  mongo:
    image: mongo
    container_name: mongo
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      retries: 30
    ports:
      - "27017:27017"
    networks:
      - appointment_book_net

  redis:
    image: redis:latest  # This pulls the latest version of the Redis image
    container_name: redis-server
    ports:
      - "6379:6379"  # Maps the default Redis port from the container to the host
    networks:
      - appointment_book_net

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - appointment_book_net

networks:
  appointment_book_net:
    driver: bridge
    name: appointment_book_net