Il centro Be Aesthetic ti informa che il tuo appuntamento è stato spostato. La nuova data è {{ dateFormat "Monday 2 January, 2006" .startAt }} alle ore {{ dateFormat "15:04" .startAt }}.
{{ if isChristmasHoliday .startAt }}Buona giornata e buone feste!{{ else }}Buona giornata!{{ end }}
