namespace: "beaesthetic"
name: "appointment-service-v2"
labels:
  app: "appointment-api-v2"

replicaCount: 1

image:
  repository: petretiandrea/appointment-service-v2
  pullPolicy: IfNotPresent

service:
  create: true
  type: ClusterIP
  ports:
    - 8080

envConfig:
  OTEL_COLLECTOR_GRPC_ENDPOINT: "http://opentelemetry-collector.monitoring.svc.cluster.local:4317"
  REDIS_HOST: "redis-headless.common.svc.cluster.local:6379"
  SERVICES_CACHE_TTL: "1h"
  SERVICES_SEARCH_CACHE_TTL: "1h"
  MONGO_DATABASE_NAME: "appointments-v2"
  QUARKUS_REDIS_MAX_POOL_WAITING: "100"
  QUARKUS_REDIS_RECONNECT_ATTEMPTS: "3"
  CUSTOMER_SERVICE_BASEURL: "http://customer-service-v2:8080"
  SCHEDULER_SERVICE_BASEURL: "http://scheduler-service:8080"
  SCHEDULER_QUEUE_NAME: "reminders-times-up"
  MONITOR_REMINDERS_FAILED_FREQUENCY: "2h"

  NOTIFICATION_SERVICE_BASEURL: "http://notification-service-v2:8080"
  NOTIFICATION_CONFIRMED_QUEUE_NAME: "NotificationConfirmQueue"

  RABBITMQ_HOST: "rabbitmq.common.svc.cluster.local"
  RABBITMQ_PORT: "5672"

  REMIND_BEFORE: "24h"
  NO_SEND_THRESHOLD_DURATION: "30m"
  IMMEDIATELY_SEND_DELAY: "2m"
  RECOVERY_ENABLED: "true"

  NOTIFICATION_ATTENDEE_WHITELIST: "ce25d641-77b8-47af-b640-3ef97f0ee770,141824e7-6554-4714-8fb6-d433494382d7,01b5b783-6f89-4470-a78b-a8d733f6a4cc,b187a194-1a8e-49a8-a5b8-aa702d74a45a,fd04a565-f2ed-4071-80db-ab7743e5f991,1d134d29-40dd-47d0-b0c8-1e9269b6703b,608547d3-d90f-4630-a426-b025335a7add,a4bacdbd-1f08-461c-81c9-0498e19e04e7,d32356c3-fe52-4efe-93fe-ac13a62142c1,4262f0bf-2988-47a3-a275-b1deeb5fc960,1f8a0723-d599-4646-852c-1f2a13304489"

resources:
  requests:
    memory: "100Mi"
    cpu: "80m"
  limits:
    memory: "100Mi"
    cpu: "80m"

secretKeyRef:
  - name: MONGO_CONNECTION_STRING
    secretRefName: appointment-secrets
    key: MONGO_DB_URI
  - name: REDIS_PASSWORD
    secretRefName: appointment-secrets
    key: REDIS_PASSWORD

readinessProbe:
  httpGet:
    path: /q/health/ready
    port: 8080
  initialDelaySeconds: 30
  failureThreshold: 10
  periodSeconds: 30

livenessProbe:
  httpGet:
    path: /q/health/live
    port: 8080
  initialDelaySeconds: 30
  failureThreshold: 10
  periodSeconds: 30