SERVER_PORT=8080

POSTGRES_DSN=postgres://scheduler:scheduler@localhost:5432/scheduler?sslmode=disable

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USERNAME=guest
RABBIT_PASSWORD=guest
RABBIT_EXCHANGE=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SCHEDULER_NAME=reminders
SCHEDULER_POLLING_INTERVAL=5s
SCHEDULER_PEEK_LEASE_TTL=15s
SCHEDULER_PEEK_BATCH_SIZE=10

OTEL_ENABLED=false
OTEL_COLLECTOR_GRPC_ENDPOINT=localhost:4317

LOG_LEVEL=debug
LOG_DEVELOPMENT=true
