openapi: 3.0.0
info:
  title: Gift Card API
  description: |
    API v2 for managing gift cards lifecycle: creation, consultation and redemption.

    ## Resource model
    A **GiftCard** is created in `PENDING` status and carries a unique 8-digit numeric
    redemption code. It transitions to `EXPIRED` automatically once its expiry date is
    past. Redeeming a gift card credits its amount into the target customer's wallet
    and permanently removes the gift card from this collection.

    ## Conventions
    - All timestamps are ISO-8601 in UTC (`date-time` format).
    - Property names use `snake_case`.
    - Errors follow [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807) (`application/problem+json`).
    - Pagination is cursor-based; include `next_cursor` in subsequent requests to fetch
      the next page. Absence of `next_cursor` means you are on the last page.

  contact:
    email: petretiandrea@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 2.0.0

servers:
  - url: https://agenda.beaesthetic.it/customer-service/

tags:
  - name: gift-cards-admin-v2
    description: Gift card management (admin)

paths:

  /v2/admin/gift-cards:

    post:
      tags:
        - gift-cards-admin-v2
      summary: Create a new gift card
      description: |
        Creates a gift card in `PENDING` status with the provided face value.
        The response includes the unique 8-digit redemption `code` to hand to the
        recipient. The `Location` header points to the newly created resource.
      operationId: createGiftCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGiftCardRequest'
      responses:
        '201':
          description: Gift card created successfully.
          headers:
            Location:
              description: URL of the created gift card resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftCard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    get:
      tags:
        - gift-cards-admin-v2
      summary: List gift cards
      description: |
        Returns a paginated list of gift cards. Use the `status` filter to narrow
        results. Use the `code` filter to look up a gift card by its redemption code
        (returns at most one item).
      operationId: listGiftCards
      parameters:
        - name: status
          in: query
          description: Filter by gift card status. Omit to return all statuses.
          schema:
            $ref: '#/components/schemas/GiftCardStatus'
        - name: code
          in: query
          description: |
            Exact 8-digit numeric redemption code. Returns at most one item.
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: limit
          in: query
          description: Maximum number of items to return per page (1–100, default 20).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Opaque cursor returned by a previous response to fetch the next page.
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of gift cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftCardPage'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v2/admin/gift-cards/{gift_card_id}:

    get:
      tags:
        - gift-cards-admin-v2
      summary: Get a gift card by ID
      operationId: getGiftCard
      parameters:
        - $ref: '#/components/parameters/GiftCardId'
      responses:
        '200':
          description: Gift card found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftCard'
        '404':
          $ref: '#/components/responses/NotFound'

  /v2/admin/gift-cards/{gift_card_id}/redemption:

    post:
      tags:
        - gift-cards-admin-v2
      summary: Redeem a gift card
      description: |
        Credits the gift card's amount into the specified customer's wallet and
        permanently removes the gift card. Idempotency is **not** guaranteed: once
        redeemed the gift card is deleted; a second call on the same ID returns 404.

        Returns the ID of the wallet that was credited.
      operationId: redeemGiftCard
      parameters:
        - $ref: '#/components/parameters/GiftCardId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemGiftCardRequest'
      responses:
        '200':
          description: Gift card redeemed; wallet credited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

components:

  parameters:
    GiftCardId:
      name: gift_card_id
      in: path
      required: true
      description: UUID of the gift card.
      schema:
        type: string
        format: uuid

  schemas:

    GiftCard:
      type: object
      description: Represents a gift card and its current state.
      required:
        - id
        - code
        - amount
        - status
        - created_at
        - expires_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the gift card.
          example: '3fa85f64-5717-4562-b3fc-2c963f66afa6'
        code:
          type: string
          pattern: '^\d{8}$'
          description: 8-digit numeric redemption code to hand to the recipient.
          example: '48293710'
        amount:
          type: number
          format: double
          minimum: 0
          description: Face value of the gift card in the default currency.
          example: 50.00
        status:
          $ref: '#/components/schemas/GiftCardStatus'
        created_at:
          type: string
          format: date-time
          description: UTC timestamp when the gift card was created.
          example: '2026-03-06T10:00:00Z'
        expires_at:
          type: string
          format: date-time
          description: UTC timestamp after which the gift card can no longer be redeemed.
          example: '2027-03-06T10:00:00Z'

    GiftCardStatus:
      type: string
      description: |
        Lifecycle status of a gift card:
        - `PENDING` — created, not yet redeemed, not past its expiry date.
        - `EXPIRED` — past expiry date; cannot be redeemed.
      enum:
        - PENDING
        - EXPIRED

    GiftCardPage:
      type: object
      description: Cursor-paginated list of gift cards.
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GiftCard'
        next_cursor:
          type: string
          nullable: true
          description: |
            Opaque cursor to pass as `cursor` query parameter to retrieve the next page.
            `null` or absent means this is the last page.

    CreateGiftCardRequest:
      type: object
      description: Payload to create a new gift card.
      required:
        - amount
      properties:
        amount:
          type: number
          format: double
          minimum: 0.01
          description: Face value of the gift card (must be positive).
          example: 50.00

    RedeemGiftCardRequest:
      type: object
      description: Payload to redeem a gift card and credit a customer's wallet.
      required:
        - customer_id
      properties:
        customer_id:
          type: string
          format: uuid
          description: ID of the customer whose wallet will be credited.
          example: '3fa85f64-5717-4562-b3fc-2c963f66afa6'

    RedemptionResult:
      type: object
      description: Result of a successful gift card redemption.
      required:
        - wallet_id
      properties:
        wallet_id:
          type: string
          format: uuid
          description: ID of the wallet that was credited.
          example: '3fa85f64-5717-4562-b3fc-2c963f66afa6'

    Problem:
      type: object
      description: |
        Problem details following [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807).
        The `type` field is a machine-readable URI that uniquely identifies the error
        type — clients should switch on `type` to handle specific cases programmatically.
        `detail` is a human-readable description suitable for logging or display.
      required:
        - type
        - title
        - status
      properties:
        type:
          $ref: '#/components/schemas/ProblemType'
        title:
          type: string
          description: Short, human-readable summary of the problem (stable across occurrences).
        status:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri
          description: URI identifying this specific occurrence of the problem.

    ProblemType:
      type: string
      format: uri
      description: |
        Machine-readable URI identifying the problem type.
        Clients should use this field — not `detail` — to handle errors programmatically.

        | Value | HTTP status | Meaning |
        |---|---|---|
        | `/problems/gift-card-not-found` | 404 | No gift card with the given ID exists |
        | `/problems/gift-card-expired` | 422 | The gift card is past its expiry date |
        | `/problems/invalid-amount` | 422 | The requested amount is zero or negative |
        | `/problems/bad-request` | 400 | Malformed request body or invalid query parameter |
      enum:
        - /problems/gift-card-not-found
        - /problems/gift-card-expired
        - /problems/invalid-amount
        - /problems/bad-request

  responses:
    BadRequest:
      description: The request was malformed or contained invalid parameters.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: '/problems/bad-request'
            title: 'Bad Request'
            status: 400
            detail: 'amount must be greater than 0'

    NotFound:
      description: The requested resource was not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: '/problems/gift-card-not-found'
            title: 'Gift Card Not Found'
            status: 404
            detail: 'No gift card found with id 3fa85f64-5717-4562-b3fc-2c963f66afa6'

    UnprocessableEntity:
      description: |
        The request was well-formed but could not be processed.
        Inspect `type` to distinguish between expiry and other validation errors.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            expired:
              summary: Gift card is expired
              value:
                type: '/problems/gift-card-expired'
                title: 'Gift Card Expired'
                status: 422
                detail: 'This gift card expired on 2026-01-01T00:00:00Z'
            invalidAmount:
              summary: Amount is not positive
              value:
                type: '/problems/invalid-amount'
                title: 'Invalid Amount'
                status: 422
                detail: 'amount must be greater than 0'
