Il centro Be Aesthetic ti conferma la prenotazione del tuo appuntamento per il giorno {{ dateFormat "Monday 2 January, 2006" .startAt }} alle ore {{ dateFormat "15:04" .startAt }}.
{{ if isChristmasHoliday .startAt }}Buona giornata e buone feste!{{ else }}Buona giornata!{{ end }}
