Il centro Be Aesthetic ti ricorda il tuo appuntamento di {{ dateFormat "Monday 2 January, 2006" .startAt }} alle ore {{ dateFormat "15:04" .startAt }}.
{{ if isChristmasHoliday .startAt }}Buona giornata e buone feste!{{ else }}Buona giornata!{{ end }}
